@font-face {
  font-family:'Raleway';
  src:url("font\Raleway_800\Raleway-VariableFont_wght.ttf");
}

body{
  font-size: 20px;
  padding: 10px;
  margin: 10px;
}

p{
  color: #737373
}

a{
  size: 60px;
}

.nav-item {
  margin: 0 20px;
  font-weight: 600;
}

.container {
  max-width: 1140px;
}

.btn-outline-secondary{
  color: #050202;
  border-color: #476088; /*set the color you want here*/
}
.btn-outline-secondary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #476088;
  border-color: #476088; /*set the color you want here*/
}

.border-5 {
  border-width:5px !important;
}


.anchor::before{
  height: 130px;
  content: "";
  display:block;
}
 /*
 * Image overlay button
 */


 /*
 * Custom translucent site header
 */

.site-header {
  background-color:#050202;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #252B42;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #476088;
  text-decoration: none;
}
.navbar-light .navbar-nav .nav-link {
  color: rgba(0,0,0,.5);
}
.navbar-light .navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255, 1);
}

/*
*/
nav.shift ul li a {
  position:relative;
  z-index: 1;
}

nav.shift ul li a:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '.';
  color: transparent;
  background: #476088;
  visibility: none;
  opacity: 0;
  z-index: -1;
}
nav.shift ul li a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}



/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}


/*
 * Extra utilities
 */
.flex-md-equal > * {
  -ms-flex: 1;
  flex: 1;
}

@media (max-width: 600) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }


/*
 * Keynotes
 */
.keynoter {
  width: 100%;
  display: block;
  padding: 15px 0 50px;
  align-items: center;
  grid-column-gap: 30px;
}

.keynoter .photo {
  height: 180px;
  max-width: 180px;
  margin: 0 auto 20px;
  border-radius: 50%;
  border: 2px #476088 solid;
  background-size: cover;
  background-position: 50%;
  position: relative;
}

.keynoter .photo .social {
  display: block;
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: -7%;
}

.keynoter .photo .social a {
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 2px 2px 2px 1px rgba(0,0,0,.2);
}

.keynoter .photo .social a svg {
  width: 100%;
  height: 100%;
  fill: #476088;
}

.keynoter .content {
  text-align: center;
}

.keynoter .content h3 {
  font-weight: 700;
  margin-bottom: 20px;
}

.keynoter .content p {
  text-align: justify;
}

@media screen and (min-width: 720px) {
  .keynoter {
    display: grid;
  }

  .keynoter .photo {
    height: 280px;
    max-width: 280px;
    margin: 0;
  }

  .keynoter.box-left {
    grid-template-columns: 280px auto 0;
  }

  .keynoter.box-left .content {
    text-align: left;
  }

  .keynoter.box-right {
    grid-template-columns: 0 auto 280px;
  }

  .keynoter.box-right .photo {
    grid-column: 3;
    grid-row: 1;
  }

  .keynoter.box-right .content {
    text-align: right;
    grid-column: 2;
    grid-row: 1;
  }
}


/*
 * Sponsor
 */
.division {
  margin: 0 auto 50px;
  width: 100%;
  height: 1px;
  background: #e3e5e6c2;
}

.sponsor {
  margin: 20px auto;
}

.sponsor .signal {
  margin: 20px auto;
  width: 60px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  align-items: center;
}

.entity-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}

.sponsor .entity {
  margin: 20px;
  display: block;
  width: 450px;
}

.sponsor.gold {
  color: #ffc562;
}

.sponsor.gold .entity img {
  max-width: 350px;
  max-height: 120px;
}

.sponsor.silver {
  color: #b0bec5;
}

.sponsor.silver .entity img {
  max-width: 262px;
  max-height: 90px;
}

.sponsor.bronze {
  color: #cd7f32;
}

.sponsor.bronze .entity img {
  max-width: 175px;
  max-height: 60px;
}

/*
 * Footer and social medias
 */
footer .social-icons {
  display: inline-block;
  margin: 5px;
}

footer .social-icons svg {
  fill: #476088;
  width: 35px;
  height: 35px;
}